/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    min-height: 100vh;
}

/* Navigation Styles */
nav {
    width: 200px;
    background-color: #000; /* Black background for nav */
    color: #fff;
    padding: 10px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #f4c542; /* Yellow color for nav links */
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #555; /* Darker background on hover */
    color: #fff; /* White text color on hover */
}

/* Content Styles */
#content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 200px; /* Adjust for the width of the nav */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #333;
}

/* Form Styles */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px; /* Add padding to create space for the placeholder */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

form input::placeholder,
form textarea::placeholder {
    color: #999;
    padding-left: 5px; /* Optional: Add extra padding to the left for more space */
}

form button {
    background-color: #f4c542; /* Yellow button background */
    color: #000; /* Black text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e0b943; /* Slightly darker yellow on hover */
}

/* Movie List Styles */
#movieList {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
}
